* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #ffffff;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.main-logo {
    position: absolute;
    top: 240px;
    left: 40px;
    width: 170px;
}

.content-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 100%;
    max-width: 1100px;
    padding: 40px 20px;
}


.left-side {
    max-width: 450px;
}

.left-side p {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 30px;
    color: #262626;
}

.gradient-text {
    background: linear-gradient(45deg, #f09433 0%, #dc2743 50%, #bc1888 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.promo-img {
    width: 100%;
    max-width: 360px;
}


.divider {
    width: 1px;
    height: 800px;
    background-color: #dbdbdb;
    top:40px;
    position: relative;

}


.right-side {
    width: 100%;
    max-width: 380px;
}

h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
}

input {
    width: 100%;
    height: 44px;
    border: 1px solid #dbdbdb;
    border-radius: 100px; 
    padding: 0 20px;
    margin-bottom: 12px;
    background-color: #fafafa;
}

button {
    width: 100%;
    height: 44px;
    border-radius: 100px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
    border: none;
}

.btn-login {
    background-color: #ADC4F2; 
    color: white;
    margin-top: 8px;
}

.forgot-link {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #00376b;
    text-decoration: none;
    margin: 15px 0;
}

.btn-fb {
    background: white;
    border: 1px solid #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 12px;
}

.btn-create {
    background: white;
    border: 1px solid #4486EB; 
    color: #4486EB;
}


.meta-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-top: 30px;
}

.meta-brand img {
    height: 16px;
}

.meta-brand span {
    font-weight: 700;
    color: #1C1E21;
    font-size: 16px;
}


.footer {
    width: 100%;
    padding: 20px 20px;
    border-top: 1px solid #dbdbdb;
    text-align: center;
    background: white;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links span {
    color: #8e8e8e;
    font-size: 12px;
    margin: 0 10px;
    display: inline-block;
    cursor: pointer;
}

.footer-copy {
    color: #8e8e8e;
    font-size: 12px;
    margin-top: 10px;
}